/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variables */
:root {
    --primary:rgb(0,44,91);
    --bg:rgb(245, 245, 252);
    --text:rgb(24,28,51);
    --button:rgb(252,100,106);
    --hover:rgb(20 185 39);
    --white:rgb(255 255 255);
}

/* custom style */

*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: var(--text);
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
}
.padding {
    padding: 120px 0;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.font-0 {
    font-size: 0;
}
.margin-50 {
    margin: 50px 0;
}
/* Button */

.btn {
    font-size: 10px;
    color: var(--white);
    padding: 8px 20px;
    background-color:var(--button) ;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}
.btn-secondary {
    color: var(--button);
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--button);
}

/* general */

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-strat-top {
    display: flex;
    justify-content: space-between;
}
.flex-start-align-top {
    display: flex;
    align-items: flex-start;
}
.align-item-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-22 {
    flex: 0 1 22%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-32 {
    flex: 0 1 32%;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-45 {
    flex: 0 1 45%;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-100 {
    flex: 0 1 100%;
}
.flex-70 {
    flex: 0 1 70%;
}
.flex-80 {
    flex: 0 1 80%;
}
.flex-60 {
    flex: 0 1 60%;
}
.flex-100{
    flex: 0 1 100%;
}
.hero-bg {
    background: url(../media/hero/about_hero.jpeg) 50% 50% no-repeat;
    height: 250px;
    position: relative;
}
.hero-bg-heading {
    color: var(--white);
    vertical-align: middle;
    text-transform: capitalize;
}
.wrap {
    flex-wrap: wrap;
}

/* headings */

h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
h2 {
    text-transform: capitalize;
    color: var(--text);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: 20px;
    color: var(--text);
    font-weight: 500;
    font-weight: 700;
    text-transform: none;
}
h4 {
    font-size: 15px;
    margin: 20px 0;
}
h5 {
    font-size: 12px;
}

/* header */

.header {
    background-color:var(--primary) ;
    position: sticky;
    top:0px;
    z-index: 1;
}
.address-info{
    padding: 8px;
}
.header address {
    color: #fff;
    margin-right:50px ;
    font-family: 'Poppins', sans-serif;
}
.social-media-icons {
    margin-left: 20px;
    color: var(--white);
}


/* hero */


.home-heading {
    width: 40%;
    margin: 8px 0 40px 0;
    text-transform: uppercase;
    color: var(--primary);
}
.hero {
    width: 100%;
    background: url(../media/hero/h1_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
    top:0px;
    height: 100vh;
}
.hero .container {
    position: relative;
}
.header-2 {
    padding: 10px 0;
    background-color: #fff;
}
.nav-bar a {
    color: var(--primary);
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 12px;
}
.nav-bar a:hover {
    color:var(--hover);
}
.btn-primery {
    margin-left: 50px;
}
.brand-logo img {
    width: 60%;
}
.hero-heading {
    position: absolute;
    top: 200px;
    left: 200px;
}
.welcome {
    color: var(--button);
    text-transform: uppercase;
    font-size: 12px;
}

/* about-page */

.hero-bg-about {
    background: url(../media/hero/about_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
/* about */

.about-article-1 {
    background-color: var(--bg);
}
.col {
    width: 30%;
}
.col img {
    width: 100%;
}
.col-container {
    width: 70%;
    margin: 0 auto;
}
.col-3 {
    padding: 20px 30px;
    border: 2px solid var(--button);
    background-color: #fff;
    width: 22%;
}
.col-3 hr {
    width: 30%;
    border-top: 2px solid red ;
    text-align: start;
    margin: 20px 0;
}
.col-3 a {
    color: var(--text);
    margin-top: 30px;
}
.article-2-text {
    width: 20%;
    background-color:rgba(255,254,254,0.8);
    padding: 30px;
    position: absolute;
    right: 180px;
    bottom: 0;
}
.article-2-text p {
    margin: 30px 0;
}
.about-article-2 img {
    width: 70%;
}

/* service */

.hero-bg-service {
    background: url(../media/hero/services_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
.service {
    margin-bottom: 80px;
}
.service-box-wrapper {
    margin:70px auto;
    width: 70%;
}
.service-box {
    width: 26%;
    background-color: var(--bg);    
    text-align: center;
    padding: 20px;
}
.fa-clipboard-list, .fa-clipboard {
    font-size: 30px;
}

/* cases section */

.cases-article-1 {
    background-color: var(--bg);
}
.case-container {
    padding: 80px 0;
    align-items: flex-start;
}
.case-col-2 img {
    width: 260px;
}
.case-col-1 h3 {
    margin:40px 0 20px 0 ;
}
.case-col-1 p {
    margin-bottom:40px;
}
.fa-star {
    color: rgb(251,187,67);
    margin-bottom: 20px;
}
.article-2-wrapper {
    text-align: center;
}
.article-2-p {
    font-size: 16px;
    margin-bottom: 20px;
}
.cases-article-2-img {
    width: 100px;
    margin-bottom: 30px;
}
.CLIFFORD {
    font-size: 12px;
    font-weight: 500;
}

/*  case page */

.hero-bg-cases {
    background: url(../media/hero/cases_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
.image-bottom {
    width: 70%;
    background-color: var(--white);
    position: absolute;
    left:0;
    bottom: 0;
    background-color: rgb(250,250,250);
}
.image-bottom-h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.image-bottom-p {
    font-size: 14px;
    font-weight: 200;
    padding: 0;
}
.case-image {
    width: 320px;
    height: 400px;
    margin-top: 20px;
}

/* contact-page */

.contact-iframe {
    width: 90%;
    height: 400px;
}
.contact-article-1 {
    text-align: center;
}
.contact-article-2 {
    width: 90%;
    margin: 50px auto;
}
.hero-bg-contact {
    background: url(../media/hero/contact_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
.contact-sub-heading {
    text-align: start;
    margin-bottom: 20px;
}
.contact-form {
    width: 97%;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.contact-form-big {
    padding-bottom: 70px;
}
.contact-btn {
    margin-top: 30px;
    padding: 20px 40px;
}
.contact-form-small-1 {
    width: 45%;
}
.contact-form-small-2 {
    width: 45%;
}
.fa-home, .fa-mobile-alt, .fa-envelope {
    font-size: 20px;
    margin-right: 10px;
}
.form-aside-items {
    margin-bottom: 40px;
    display: flex;
}
.aside-bold {
    font-size: 12px;
    font-weight: 600;
}

/* contact section */

.news-container {
    width: 70%;  
    margin: 50px auto; 
}
.news-text {
    padding: 20px;
}
.news-text h5 {
    color: var(--button);
}
.news-col {
    background-color: rgb(244, 246, 250);
}
.news-img {
    width: 100%;
}
.request-for-call {
    background-color: var(--primary);
}
.request-text-p-h3 {
    color: var(--white);
    padding: 10px;
}
.form {
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(152, 152, 152);
}
.form-container {
    margin-top: 20px;
}
.form-4 {
    width: 15%;
}
.form span {
    color: var(--white);
}

/* blog page */

.hero-bg-blog {
    background: url(../media/hero/blog_hero.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
.blog-article {
    width: 100%;
    margin-bottom: 40px;
}
.blog-text {
    width: 100%;
    padding: 20px ;
    background-color: rgb(250,250,250);
    box-sizing: border-box;
}
.blog-article-container {
    width: 50%;
    margin-right: 30px;
}
.blog-image {
    width: 100%;
}
.blog-text p, i, span{
    font-size: 10px;
    margin: 5px 0;
}
.blog-text i {
    margin-right: 20px;
    color: gray;
}
.blog-text h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}
.jan-15 {
    width: 70px;
    height: 70px;
    background-color:var(--button) ;
    border-radius: 2px;
    position: absolute;
    bottom: 140px;
    left: 20px;
}
.jan-15 span {
    color: var(--white);
    font-weight: 90px;
    font-size: 16px;
}
.span-15 {
    font-weight: 700;
}
.aside-search-bar {
    background-color: rgb(240,240,250);
    padding: 20px;
}
.aside-search-bar i {
    background-color: var(--button);
    color: var(--white);
    padding: 10px;
    margin: 0;
}
.aside {
    width: 30%;
}
.search-keyword {
    background-color: var(--white);
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding-left:10px ;
}
.blog-aside {
    background-color: rgb(240,240,250);
    padding: 20px;
    text-align: start;
    margin-bottom: 10px;
}
.blog-aside h4 {
    margin: 0;
}
.blog-aside li {
    padding: 10px;
    font-size: 12px;
}
.blog-aside hr {
    width: 90%;
    border: 1px solid rgb(227, 227, 225);
    margin-bottom: 10px;
}
.blog-post-items-image {
    margin-right: 20px;
}
.blog-post-items {
    margin-bottom: 10px;
}
.aside-recent {
    padding: 20px;
}
.aside-tag-clouds p {
    display: inline-block;
    background-color: var(--white);
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid lightgray;
}
.aside-insta-feed img {
    width: 80px;
    margin-bottom: 10px;
}
.newsletter-box {
    padding: 10px;
    background-color: var(--white);
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.aside-newsletter .btn-secondary {
    padding: 20px;
}
/* footer */

.margin-bottom-20px {
    margin-bottom: 20px;
}
.footer {
    background-color: var(--bg);
}
.footer-address {
    color: var(--text);
}
.footer a {
    color: var(--text);
    font-weight: 400;
    margin-left: 0;
}
.comapny-nav, .service-nav, .get-in-touch li {
    line-height: 2;
}
.social-media-footer a{
    margin-right: 10px;
}
.footer h4 {
    margin-top: 0;
}
.footer hr {
    width: 70%;
    border-top: 2px solid rgb(210, 210, 210);
    margin: 30px auto;
}
.colorib {
    color: var(--button);
}

.small {
    text-align: center;
    color: var(--text);
}
.fa-heart {
    color: var(--button);
}